/* ---------------------------------------------------------------- Header ---------------------------------------------------------------- */
header{
  width: 100vw;
  height: 100vh;
}
header>#headerIMG{
  position: absolute;
  top: var(--headerHeight);
  left: -90px;
  background-image: url("Images/headerIMG2.jpg");
  background-size: cover;
  background-position: top;
  width: calc(100vw + 90px);
  height: calc(100vh - var(--headerHeight));
  filter: grayscale(10%) brightness(25%) hue-rotate(195deg);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}
header>#headerContent{
  position: absolute;
  top: calc(50% + var(--headerHeight)/2);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
header>#headerContent>h1{
  color: white;
  font-weight: 700;
  font-size: 50px;
  font-size: 4vw;
  text-align: center;
}
header>#headerContent>p{
  color: var(--lightbeige);
  font-size: 20px;
  text-align: center;
  margin: 15px 0 25px 0;
}
header>#headerContent>p>span{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background-attachment: fixed; */
  background-size: 400% 400%;
  animation: 8s linear infinite Gradient;
}
@keyframes Gradient{
  0%   {background-position: 0% 50%;}
	50%  {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
header>#headerContent>#btnContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header>#headerContent>#btnContainer>div{
  width: 80%;
  height: 60px;
  line-height: 56px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
header>#headerContent>#btnContainer>#btnPrices{
  margin: 0 5% 0 15%;
  border: 2px solid rgba(255, 255, 255, 0);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: 8s linear infinite Gradient;
  color: white;
  transition: 0.5s;
}
header>#headerContent>#btnContainer>#btnPrices:hover{
  border: 2px solid rgba(255, 255, 255, 1);
}
header>#headerContent>#btnContainer>#btnCoaches{
  margin: 0 15% 0 5%;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
}
header>#headerContent>#btnContainer>#btnCoaches:hover{
  background-color: white;
  color: black;
}
@media only screen and (max-width: 1020px){
  header>#headerContent{
    width: 60%;
  }
}
@media only screen and (max-width: 850px){
  header>#headerContent{
    width: 70%;
  }
  header>#headerContent>p{
    font-size: 18px;
  }
  header>#headerContent>#btnContainer>div{
    font-size: 18px;
  }
}
@media only screen and (max-width: 730px){
  header>#headerContent{
    width: 80%;
  }
  header>#headerContent>p{
    font-size: 16px;
  }
  header>#headerContent>#btnContainer>div{
    font-size: 16px;
  }
}

/* ---------------------------------------------------------------- Promises ---------------------------------------------------------------- */
main{
  background-color: var(--black);
}
main>#promises{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  width: calc(100vw - 70px);
  margin: 35px;
}
main>#promises>div{
  color: white;
  text-align: center;
  border-radius: 4px;
  padding-bottom: 20px;
}
main>#promises>div>img{
  width: 50px;
  height: 50px;
  margin-bottom: -5px;
  margin-top: 10px;
}
main>#promises>div>h1{
  font-size: 25px;
  color: white;
}
main>#promises>div>p{
  color: var(--lightbeige);
  line-height: 25px;
  margin: 15px 5% 15px 5%;
}
main>#promises>#discord{
  grid-column: 1 / 3;
}
main>#promises>#discord>#btnLiveCall{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  margin-left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 50px;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: 0.5s;
}
main>#promises>#discord>#btnLiveCall:hover{
  filter: invert(1);
}
main>#promises>#discord>#btnLiveCall>p{
  color: white;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
main>#promises>#discord>#btnLiveCall>img{
  width: 34px;
  height: 34px;
  filter: invert(1);
}
@media only screen and (max-width: 1100px){
  main>#promises>#discord>#btnLiveCall{
    width: 50%;
  }
}
@media only screen and (max-width: 960px){
  main>#promises{
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 650px){
  main>#promises>#discord>#btnLiveCall{
    width: 75%;
  }
}
@media only screen and (max-width: 600px){
  main>#promises{
    grid-template-columns: 1fr;
  }
  main>#promises>#discord{
      grid-column: 1 / 2;
  }
}
/* ---------------------------------------------------------------- Services ---------------------------------------------------------------- */
main>#services{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
main>#services>#servicesIMG{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-image: url("Images/servicesIMG.jpeg");
  background-size: cover;
  filter: brightness(20%);
}
main>#services>div{
  z-index: 10;
}
main>#services>div>h1{
  color: white;
  text-align: center;
  margin: 40px;
}
/*main>#services>#boosting>h1>span{
  color: skyblue;
}
main>#services>#coaching>h1>span{
  color: crimson;
}*/
main>#services>div>.divStep{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 70%;
  height: 60px;
  padding: 0 20px 0 64px;
  margin: 10px 15%;
  background-color: var(--black);
  border-radius: 4px;
}
.counterreset{
  counter-reset: myCounter;
}
main>#services>div>.divStep::before{
  counter-increment: myCounter;
  content: counter(myCounter) ''; /* counter(myCounter, upper-roman) */
  position: absolute;
  left: 10px;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 50%;
  border: 2px solid var(--gold);
  color: var(--lightbeige)
}
/*main>#services>#boosting>.divStep::before{
  color: skyblue;
  border: 2px solid skyblue;
}
main>#services>#coaching>.divStep::before{
  color: crimson;
  border: 2px solid crimson;
}*/
main>#services>div>.divStep>p{
  color: var(--lightbeige);
}
main>#services>div>#btnBoosting, #btnCoaching{
  width: 50%;
  margin: 40px 25%;
  min-height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--gold);
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: 0.5s;
}
/*main>#services>div>#btnBoosting{
  background-color: skyblue;
}
main>#services>div>#btnCoaching{
  background-color: crimson;
}*/
main>#services>div>#btnBoosting:hover, #btnCoaching:hover{
  filter: invert(1);
}
@media only screen and (max-width: 1000px){
  main>#services>div>.divStep{
    min-height: 80px;
  }
}
@media only screen and (max-width: 870px){
  main>#services>div>.divStep{
    min-height: 60px;
  }
  main>#services{
    grid-template-columns: 1fr;
  }
}
