@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
  --headerHeight: 65px;
  --beige: #b3a681;
  --lightbeige: #dfd5c4;
  --blue: #59EBFC;
  --magenta: #D124A0;
  --purple: #9821A5;
  --darkblue: #2F3493;
  --gold: #b28936;
  --black: #000511;
  --red: #de4848;

  --white: #edf0f1;
  --lightgrey: #434343;
  --grey: #343434;
  --darkgrey: #232323;
  --secondary: #ff0000; /* ffA500*/
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background-color: var(--black);
}
body::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color: #1e2328;
  border-radius: 4px;
}
/* ---------------------------------------------------------------- Navigation ---------------------------------------------------------------- */
header>nav{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: var(--headerHeight);
  background-color: var(--black);
  padding: 0 35px 0 25px;
  border-top: 2px solid var(--gold);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
header>nav>#logo>p{
  line-height: var(--headerHeight);
  color: var(--lightbeige);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
header>nav>#btns2{
  display: none;
}
header>nav>#btns2>#dropDownMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: var(--headerHeight);
}
header>nav>#btns2>#dropDownMenu>#container{
  display: block;
}
header>nav>#btns2>#dropDownMenu>#container>div{
  width: 40px;
  height: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 3px;
  transition: .5s;
}
header>nav>#btns2>#dropDownMenu>#content{
  display: none;
  position: absolute;
  right: 0;
  top: var(--headerHeight);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
header>nav>#btns2>#dropDownMenu>#content>div{
  width: 250px;
  height: 50px;
  line-height: 50px;
  background-color: var(--black);
  color: var(--beige);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
  text-align: center;
}
header>nav>#btns2>#dropDownMenu>#content>div:hover,
header>nav>#btns2>#dropDownMenu>#content>div:active{
  color: black;
  background-color: white;
}
header>nav>#btns2>#dropDownMenu:hover>#content,
header>nav>#btns2>#dropDownMenu:active>#content{
  display: block;
}
header>nav>#btns2>#dropDownMenu:hover>#container>div:nth-child(1),
header>nav>#btns2>#dropDownMenu:active>#container>div:nth-child(1){
  background-color: var(--gold);
  transform: rotate(45deg);
  margin-bottom: -11px;
}
header>nav>#btns2>#dropDownMenu:hover>#container>div:nth-child(2),
header>nav>#btns2>#dropDownMenu:active>#container>div:nth-child(2){
  transform: scale(0);
}
header>nav>#btns2>#dropDownMenu:hover>#container>div:nth-child(3),
header>nav>#btns2>#dropDownMenu:active>#container>div:nth-child(3){
  background-color: var(--gold);
  transform: rotate(-45deg);
  margin-top: -11px;
}
header>nav>#btns2>#dropDownMenu>#content:hover,
header>nav>#btns2>#dropDownMenu>#content:active{
  display: block;
}
header>nav>#btns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header>nav>#btns>div{
  position: relative;
  color: var(--beige);
  line-height: var(--headerHeight);
  height: var(--headerHeight);
  padding: 0 25px;
  cursor: pointer;
  transition: 0.5s;
}
header>nav>#btns>div:hover{
  color: var(--lightbeige);
}
header>nav>#btns>.active{
  color: var(--lightbeige);
}
header>nav>#btns>.active::before{
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("Images/navbarCurrent.png");
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 10px;
}
header>nav>#btns>.active::after{
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(at bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.005),
    transparent
  );
  width: 120%;
  height: 20px;
}
@media only screen and (max-width: 960px){
  header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 50px;
  }
  header>nav>#btns{
    display: none;
  }
  header>nav>#btns2{
    display: block;
  }
}
@media only screen and (max-width: 480px){
  header>nav>#btns2{
    width: 150px;
  }
  header>nav>#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--headerHeight);
  }
  header>nav>#logo>p{
    font-size: 15px;
    line-height: normal;
  }
  header>nav>#btns2>#dropDownMenu>#content>div{
    width: 100vw;
  }
}
/* ----------------------------------------------------------------- FAQ ------------------------------------------------------------------ */
#divFaq{
  margin: 50px;
}
#divFaq>h1{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
#divFaq>.questionWrapper{
  margin: 0 20%;
  color: var(--lightbeige);
  border-bottom: 2px solid white;
}
#divFaq>.questionWrapper>.question{
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
#divFaq>.questionWrapper>.question::after{
  content: attr(data-before);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--lightbeige);
}
#divFaq>.questionWrapper>.awnser{
  max-height: 0;
  overflow: hidden;
  padding: 0px 20px;
  background-color: white;
  color: var(--black);
  transition: .5s linear;
}
#divFaq>.questionWrapper>.awnser.visible{
  max-height: 100px;
  padding: 10px 20px;
}
@media only screen and (max-width: 1100px){
  #divFaq>.questionWrapper>.awnser.visible{
    max-height: 150px;
  }
}
@media only screen and (max-width: 810px){
  #divFaq>.questionWrapper>.awnser.visible{
    max-height: 220px;
  }
  #divFaq>.questionWrapper{
    margin: 0 10%;
  }
}
@media only screen and (max-width: 600px){
  #divFaq>.questionWrapper{
    margin: 0 4%;
  }
  #divFaq{
    margin: 35px;
  }
  #divFaq>.questionWrapper>.question{
    height: 80px;
  }
  #divFaq>.questionWrapper>.awnser.visible{
    max-height: 280px;
  }
}
@media only screen and (max-width: 400px){
  #divFaq>.questionWrapper{
    margin: 0 2%;
  }
  #divFaq{
    margin: 25px;
  }
}
/* ---------------------------------------------------------------- Timer ----------------------------------------------------------------- */
.timerWrapper{
  height: 70px;
  background-color: var(--gold);
  display: grid;
  grid-template-columns: 4fr 3fr;
  padding: 0 5%;
}
.timerWrapper>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timerWrapper>div>h2{
  font-size: 20px;
  color: white;
}
.timerWrapper>div>h2>span{
  color: var(--blue);
  text-shadow: 2px 2px black;
}
.timerWrapper .countdown{
  margin: 0 auto;
}
.timerWrapper .countdown .bloc-time{
  float: left;
  margin-right: 25px;
  text-align: center;
}
.timerWrapper .countdown .bloc-time:last-child{
  margin-right: 0;
}
.timerWrapper .countdown .count-title{
  display: block;
  margin-bottom: 0px;
  font: 12px 'Montserrat';
  color: var(--black);
  text-transform: uppercase;
}
.timerWrapper .countdown .figure{
  position: relative;
  float: left;
  height: 35px;
  width: 30px;
  margin-right: 7px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);
}
.timerWrapper .countdown .figure:last-child{
  margin-right: 0;
}
.timerWrapper .countdown .figure > span{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 700;
  color: var(--red);
}
.timerWrapper .countdown .figure .top:after, .countdown .figure .bottom-back:after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.timerWrapper .countdown .figure .top{
  border-radius: 10px 10px 0 0;
  transform: perspective(200px);
  z-index: 3;
  background-color: #f7f7f7;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}
.timerWrapper .countdown .figure .bottom{
  z-index: 1;
}
.timerWrapper .countdown .figure .bottom:before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, .02);
}
.timerWrapper .countdown .figure .bottom-back{
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px 10px 0 0;
}
.timerWrapper .countdown .figure .bottom-back span{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.timerWrapper .countdown .figure .top, .countdown .figure .top-back{
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
}
.timerWrapper .countdown .figure .top-back{
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transform: perspective(200px) rotateX(180deg);
  border-radius: 0 0 10px 10px;
}
.timerWrapper .countdown .figure .top-back span{
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (max-width: 1000px){
  .timerWrapper{
    padding: 0 2%;
    display: grid;
    grid-template-columns: 4fr 3fr;
  }
  .timerWrapper>div>h2{
    font-size: 17px;
    color: white;
    text-align: center;
  }
  .timerWrapper .countdown .count-title{
    font: 10px 'Montserrat';
  }
  .timerWrapper .countdown .bloc-time{
    margin-right: 13px;
  }
  .timerWrapper .countdown .figure{
    height: 25px;
    width: 20px;
    margin-right: 4px;
  }
  .timerWrapper .countdown .figure > span{
    font-size: 20px;
  }
}
@media only screen and (max-width: 650px){
  .timerWrapper{
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px){
  .timerWrapper{
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr;
    height: 95px;
  }
}
/* ---------------------------------------------------------------- Footer ---------------------------------------------------------------- */
footer{
  position: relative;
  height: 50vh;
  background-color: black;
}
footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: linear-gradient(to bottom, var(--black) 0%, rgba(0,0,0,0) 100%);
}
footer>h2{
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 70px;
}
footer>#gridContact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 50px;
}
footer>#gridContact>div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: .5s;
  margin-bottom: 20px;
}
footer>#gridContact>div>img{
  width: 40px;
  filter: invert(1);
  margin-right: 10px;
}
footer>#gridContact>div:hover{
  transform: scale(1.2);
}
@media only screen and (max-width: 850px){
  footer>#gridContact{
    grid-template-columns: 1fr 1fr;
  }
}
